
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #00a2ff;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #00a2ff;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
}


.register-form {
    margin-top: 30px;
}

.register-form h2 {
    margin-bottom: 20px;
}

.register-form label {
    display: block;
    margin-bottom: 5px;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"],
.register-form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-form button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00a2ff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-form button[type="submit"]:hover {
    background-color: #555;
}
